body {
    font-family: 'Poppins', sans-serif;
}
.parent{
    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child{
    background: #ffffff;
    color: #333; 
    border-radius: 20px; 
    padding: 30px; 
    width: auto;
    min-width: 50vh;
    text-align: center; 
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25); 
}
.search{
    border-radius: 10px;
    padding:8px; 
    color:rgb(17, 17, 17);
    font-size: 13px;
    border:solid;
    border-width:1px; 
    text-decoration: none;
    border-color:black;
}
.search:hover{
    background-color: rgb(221, 221, 221);
    cursor:pointer;
}
.logout{
    margin-bottom: 20px;
}
.explorer{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:10px;
    margin-top:20px;
}
.interior{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.create-new-one{
    margin-bottom:40px;
}

.buttons{
    margin-left:10px;
    margin-left:10px;
}
.login{
    margin-top:15px;
}
.registe-login-switch{
    padding:8px; 
    color:rgb(17, 17, 17);
    font-size: 15px;
    text-decoration: underline;
}
.registe-login-switch:hover{
    cursor: pointer;
    color: rgb(109, 109, 109);
}
.view-todos{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom:20px;
}
